*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-align: center;
}
#pai {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body {
    background-color: #ed7d31;
    color: hsl(59, 94%, 51%);
    font-size: 25px;
    margin: 5%;
    border-style: dotted;
    border-color: #e71976;
}
h1{
    color: #e71976;
    font-size: 100px;
    font-style: italic;
    align-items: center;
}
h2 {
    color: rgb(238,146,215);
    font-size: 80px;
    font-style: italic;
}
h3 {
    color: #e71976;
    font-size: 70px;
    text-align: center;
    margin-top: 1%;
}
h4 {
    color: rgb(153, 34, 113);
    font-size: 60px;
    font-style: italic;
    margin: 0%;
}
h5 { 
    text-align: center;
    display: inline-flexbox;
    margin-bottom: 0%;
}
#pai2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.titb {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
}
.titc {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
}
.creditos {
    text-align: center;
    color: black;
}
p {
    color: #351703;
}